@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Hello, use the menu bar to navigate the site</p>
    }
    else
    {
        <p class="lead">Login to use the site.</p>
    }
    
</div>